#root {
  max-width: 1280px;
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* font-family: 'Press Start 2P', cursive; */
  display: flex;
  flex-direction: column;
}

.App-h3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Inconsolata', monospace;
    font-size:x-large
}

.App-h1 {
  font-family: 'Press Start 2P', cursive;
  position: sticky;
  top: 0;
}