.Gallery{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    max-height: 600px;
    gap: 50px;

    font-family: 'Inconsolata', monospace;
    font-size:xx-large
  }

.Gallery-SentenceCard{
    width: 70%;
}

.Gallery-UserCard{
    overflow:scroll;
}
