#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Inconsolata', monospace;
  font-size: x-large
}

.testClass {
  display: flex;
  border: 2px solid white;
  flex-direction: row;
  gap: 30%
}

.App-h1 {
  font-family: 'Press Start 2P', cursive;
}