.Gallery_SentenceCard-sentences {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 70px;
    width: 100%;
    border-bottom: 1px solid white;
    height: 100px;
    align-items:flex-end;
}

.Gallery_SentenceCard-prediction {
    display: flex;
    align-content: space-between;
    gap: 20px;
    font-family: 'Inconsolata', monospace;
    align-items:center;
}

.Gallery_SentenceCard-sentences-text {
    text-align: left;
}
